@import "./variables.css";

:root {
  --primary-color: #1976d2; /* Primary Blue */
  --primary-dark: #1565c0; /* Darker shade of Primary */
  --secondary-color: #ff9800; /* Accent Orange */
  --text-color: #333333; /* Main Text Color */
  --background-color: #f5f5f5; /* Light Grey Background */
  --border-color: #e0e0e0; /* Border Color */
  --error-color: #d32f2f; /* Error Red */
  --success-color: #388e3c; /* Success Green */
}
/* globals.css */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
