.paginationList {
  margin-top: 24px; /* Assuming mt: 3 corresponds to 24px, with each spacing unit being 8px */
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}


.gridBox{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; 
  margin-top: 16px;
}
