.background {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/09/10/00/shopping-cart-2614015_960_720.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .title {
    margin-bottom: 20px;
  }
  .buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
  }